@import url("https://fonts.googleapis.com/css2?family=Itim");

* {
    margin: 0;
    padding: 0;
    font-family: "Itim", cursive;
}

body {
    background-color: #523a34;
    background-image: url(assets/img/background.webp);
    background-size: 600px;
    background-repeat: repeat;
    background-blend-mode: soft-light;
}

body,
html {
    height: 100%;
}

h1 {
    color: rgb(58, 55, 55);
    font-size: 2.5rem;
    margin-right: 200px;
    margin-bottom: 10px;
}

.btn {
    font-family: "Itim", cursive;
    font-weight: bolder;
    color: rgb(58, 55, 55);
    font-size: 2.5rem;
    padding: 2rem;
    border-radius: 20px;
    border: 0;

    transition: 0.3s;
}

.btn:hover {
    background-color: #b87d4b;
    color: #fff;
    cursor: pointer;
}

.colorpallete {
    background-color: #cff27e;
    background-color: #f2dd6e;
    background-color: #e5b25d;
    background-color: #b87d4b;
    background-color: #523a34;
}

.flexAlign {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    display: flex;
    padding: 30px;
    width: 80%;
    border-radius: 25px;
    background-color: #e5b25d;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    min-height: 350px;
    max-width: 600px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
#hiraganaImg {
    display: none;
    height: 100px;
    width: 100px;
    user-select: none;
    pointer-events: none;
    margin-bottom: 50px;
    filter: invert(1);
}
.cat {
    position: absolute;
    top: -120px;
    right: 20px;
    width: 100px;
    z-index: 1;
    transition: 0.3s;
    user-select: none;
}
.cat:hover {
    cursor: pointer;
}
.box div {
    display: none;
    position: absolute;
    bottom: 50px;
    gap: 15px;
    z-index: 1;
}
.box div button {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    border: none;
    font-size: larger;
    font-weight: 700;
    background-color: #ffff;
    bottom: 0px;
    transition: all 0.3s ease-in-out;
}
.box div button:hover {
    cursor: pointer;
    bottom: 10px;
    position: relative;
}

.box p {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 30px;
    top: 30px;
    font-size: x-large;
    color: #fff;
    background-color: #523a34;
    padding: 10px;
    border-radius: 15px;
}

.by {
    font-size: small;
    position: absolute;
    bottom: 10px;
    display: flex;
    color: #fff;
}

.by a {
    color: #e5b25d;
    margin-left: 5px;
    transition: 0.3s;
}

.by a:hover {
    color: #e49a1a;
}

.titleBox {
    user-select: none;
    text-align: center;
    color: rgb(206, 193, 193);
}
